<div class="row mt-5">
    <div *ngFor="let product of products" class="card m-3 shadow zoom-in-out-box" style="width: 18em;">
        <img class="card-img-top" height="200" width="100" src="{{'http://localhost:8080/image/'+product.productId+'.png'}}"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
      
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{product.productBrand}}</li>
          <li class="list-group-item">{{product.productPrice|currency}}</li>
          <li class="list-group-item">{{product.productCategory}}</li>
        </ul>
        <div class="card-body">
          <button href="#" class="btn btn-warning text-light">Add to Cart</button>
          <button href="#" class="btn btn-primary m-2">Buy Now</button>
        </div>
      </div>
</div>
